<!DOCTYPE html>
<html>
    <head>
        <title>Slim Framework Backslash Issue</title>
    </head>
    <body>
        <h1>Slim Framework Backslash Issue</h1>
		{% include 'urls.twig' %}
    </body>
</html>